body {
    margin: 60px auto;
    width: 70%;
}
#aboutme p{
   margin-right: 3200px;
   margin-left: 320px;
   margin-top: 60px;
   margin-bottom: 60px; 
   font-family: 'Open Sans', sans-serif;
}
nav ul, footer ul {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: 100;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 30px;
}
a {
    text-decoration: none;
    color: #333333;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #595959;
}
footer {
    border-top: 5px dotted #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
