<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href= "src/faviconbunny.ico" rel="short icon" >
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/"><img class="img-responsive" src="/src/minihousenosmoke.png" onmouseover="this.src='/src/minihouse.png'" onmouseout="this.src='/src/minihousenosmoke.png'"/></a></li>
		        	<li><a href="/illustrations">Illustrations</a></li>
	        		<li><a href="/src/Sara_Hosseini_Resume.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:sara.hosseini01@gmail.com">
				<img  class="img-responsive" src="/src/gmaillogo.png" height="20" width="24"/></a></li>
	        		<li><a href="https://github.com/sarahoss">
				<img  class="img-responsive" src="/src/githublogo.png" height="24" width="24"/></a></li>
				<li><a href="https://www.linkedin.com/in/sara-hosseini/">
				<img  class="img-responsive" src="/src/linkedinlogo.png" height="24" width="24"/></a></li>
			</ul>
			</footer>
		</body>
	</html>
